.home__bg {
  background: red;
  background: url("../images/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 160px;
}

.progress {
  display: grid;
  place-items: center;
  margin: 50% auto;
}

.home__bg > .navbar > .navbarInputContainer > form > input {
  color: white;
}
