.movie img {
  object-fit: contain;

  border-radius: 10px;
  height: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
}
.movie img:hover {
  transform: scale(1.02);
}

.movie {
  width: 220px;
  margin-left: 10px;
  margin: 0 auto;
}

.movie__info {
  padding: 15px 20px;
}

.movie__info p {
  color: #002448;
  font-weight: 500;
  font-size: 19px;
}
.movie__info span {
  color: #7a716c;
}

.movie a {
  text-decoration: none;
}
